.skinPreferencesContainer {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.preferenceRow {
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.nameInput {
  margin-top: 10px;
  width: 95%; 
}
