.skinDetailCard {
  background: var(--track-background-color) !important;
  width: 100% !important;
}

.skinDetailCardContainer {
  background: var(--track-background-color) !important;
  width: 100% !important;
};

.skinDetailCardTitle {
  color: var(--font-color) !important;
  margin-top: 5px !important;
};

.skinDetailSave {
  margin-top: 0 !important;
}

.skinNameLabel {
  margin-top: 10px !important;
}

.skinNameRow {
  margin-bottom: 0 !important;
}

.styleEditorContent {
  width: 100% !important;
}
