.alertRow {
  margin-left: 0;
  margin-right: 0;
}

.controls {
  border-bottom-right-radius: 35px;
  width: 10%;
}

.mainRow {
  display: flex;
  flex-direction: row;
  margin-left: 0;
  margin-right: 0;
}

@media (max-width: 768px) {
  .mainRow {
    flex-direction: column;
  }
}

.parentContainer {
  display: flex;
  flex-direction: column;
  margin-right: 0;
  margin-left: 0;
  padding-left: 0;
  padding-right: 0;
}

.centeredRow {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.content {
  margin-left: 0;
  margin-right: 0;
  padding-left: 0;
  padding-right: 0;
  width: 100%,
}
