.noResultsCard {
  background: transparent !important;
  border-color: black !important;
  height: 100% !important;
  min-height: 200px !important;
  
}

.noResultsContainer {
  width: 100% !important;
}

.noResultsRow {
  width: 100% !important;
}

.noResultsText {
  align-items: center;
  display: flex; 
  justify-content: center;
}

.noResultsTitle {
  text-align: center;
}
