.noResultsCard {
  background: transparent !important;
  border-color: black !important;
  color: var(--font-color) !important;
  height: 100% !important;
  min-height: 200px !important;
  width: 100% !important;
}

.noResultsText {
  align-items: center;
  display: flex; 
  justify-content: center;
}

.noResultsTitle {
  text-align: center;
}

.noResultsContainer {
  display: flex;
  flex-direction: column;
  width: 100% !important;
}

.noResultsRow {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100% !important;
}