.queue {
  margin-top: 0px !important;
}

.queueContainer {
  display: flex;
  flex-flow: column;
  margin-top: 0;
  width: 100%;
  min-width: 100%;
  background-color: transparent;
}

.trackName {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  width: 100% !important;
}
