.addContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  background: var(--track-background-color);
  color: var(--font-color);
  font-family: var(--list-font);
}

.buttonRow {
  display: flex;
  flex-direction: row;
  justify-content: end;
  width: 100%;
}

.text {
  margin-bottom: 10px;
}

.nameAndSave {
  width: 80vw;
  display: flex;
  flex-direction: row;
  align-items: start;
  background-color: var(--track-background-color);
}