.addNewCard {
  background: transparent !important;
  min-height: 200px !important;
  height: 100% !important;
  border-color: black !important;
}

.addNewText {
  align-items: center;
  display: flex; 
  justify-content: center;
}

.addNewTitle {
  text-align: center;
}

.fileControl {
  margin-bottom: 0 !important;
}