.albumCard {
  background: var(--background-color);
  border-color: #708090;
  color: white;
  margin: 5px;
  padding: 0;
};

.albumCardBody {
  background-color: var(--track-background-color);
  color: var(--font-color);
  font-family: var(--button-font);
  font-size: 14px;
  margin: 0;
  overflow: hidden;
  padding: 0;
  text-overflow: ellipsis;
  white-space: nowrap;
}
