.button {
  margin: 5px;
}

.button:hover {
  outline: none !important;
  outline-offset: none !important;
  background-color: transparent !important;
}

.container {
  margin-bottom: 60px;
  margin-left: 60px;
  margin-top: 50px;
}

.now-playing {
  color: #ffffff;
  float: left;
  font-size: 20px;
  margin-bottom: 0px;
  position: absolute;
  bottom: 5px;
  left: 60px;
}

.search-result {
  color: #ffffff; 
  float: left; 
  font-size: 20px; 
  padding-right: 20px;
}

.search-icon {
  margin: 0px;
}

.volume-icon {
  color: #FFFFFF;
  font-size: 20px; 
}

