.adminRow {
  padding: 0 !important;;  
}

.buttonContainer {
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
}

.container {
  max-width: 100%;
  margin: 65px auto;
}

.row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}

.buttonRow {
  display: flex;
  flex-direction: row;
  margin-left: 25px;
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 0 !important;
}