.paginatedListContainer {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
  margin-left: 0 !important;
  margin-right: 0 !important;
}

.paginatedListGroup {
  width: 100% !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.centeredRow {
  display: flex !important;
  align-items: center !important;
  justify-content: center !important;
}

.paginatorButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .paginatorButtons {
    display: none;
  }
}