.paginatedListContainer {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
  margin-left: 0;
  margin-right: 0;
  display: flex;
  flex-direction: column;
}

.paginatedListGroup {
  width: 100%;
  padding-left: 0;
  padding-right: 0;
}

.centeredRow {
  display: flex;
  align-items: center;
  justify-content: center;
}

.paginatorButtons {
  display: flex;
  align-items: center;
  justify-content: center;
}

@media (max-width: 1024px) {
  .paginatorButtons {
    display: none;
  }
}