.searchContainer {
  margin-top: 60px;
}

.searchForm {
  margin-top: 20px;
  width: 90vw !important;
}

.searchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.searchRow {
  display: flex;
  flex-direction: row;
}

.keyboard {
  display: none;
}

.typeRow {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

  @media screen and (max-width: 768px){
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .keyboard {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin-top: 0;
  };

  .typeRow {
    margin-top: 25px;
  }
}