.skin-container {
  margin-bottom: 20px !important;
}

.skin-detail-card {
  background: transparent !important;
}

.skin-detail-save {
  margin-top: 0 !important;
}

.skin-name-label {
  margin-top: 10px !important;
}

.skin-name-row {
  margin-bottom: 0 !important;
}

.styleEditorContent {
  width: 100% !important;
}
