.coverRow {
  background: transparent;
  display: flex;
  flex-direction: column;
  margin-bottom: 0;
  margin-right: 0;
  min-width: 100%;
  padding-bottom: 0;
  padding-right: 0;
  width: 100%;
}

.albumTracks {
  width: 100%;
}

.albumTracks {
  @media (max-width: 768px) {
    margin-top: 0;
  }
}

@media (min-width: 768px) {
  .coverRow {
    flex-direction: row;
  };
}