.coverRow {
  margin-bottom: 0;
  margin-right: 0;
  padding-bottom: 0;
  background: transparent;
}

.albumTracks {
  @media (max-width: 768px) {
    margin-top: 0 !important;
  }
}

@media (max-width: 768px) {
  .coverRow {
    background: transparent;
    margin: 0;
    padding: 0;
  };
}