.skin-detail-card {
  background: transparent !important;
  width: 100% !important;
}

.skin-detail-card-container {
  width: 100% !important;
};

.skin-detail-card-title {
  margin-top: 5px !important;
};

.skin-detail-save {
  margin-top: 0 !important;
}

.skin-name-label {
  margin-top: 10px !important;
}

.skin-name-row {
  margin-bottom: 0 !important;
}

.styleEditorContent {
  width: 100% !important;
}
