.trackContainer {
  display: flex;
  flex-flow: column wrap;
  justify-content: center;
  margin-top: 0;
}

.albumTrackContainer {
  max-width: 100%;
  margin: 0 auto !important;
}

.row {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
