.album-card {
  background: red;
  border-color: #708090;
  color: #ffffff;
  margin: 10px;
  max-width: 200px;
}

.album-card-small {
  background: transparent;
  border-color: #708090;
  color: #ffffff;
  margin: 10px;
  max-width: 75px;
}