.body {
  background-color: #4d4d4d;
}

.clear-button {
  height: 75px;
  margin: 5px;
  width: 160px;
}

.footer {
  background-color: #4d4d4d;
}

.header {
  background-color: #4d4d4d;
  color: #ffffff;
}

.modal-90w {
  max-width: 70% !important;
}

.space-button {
  height: 75px;
  margin-bottom: 5px;
  margin-left: 150px;
  margin-top: 5px;
  width: 300px;
}

.search-button {
  height: 75px;
  margin-bottom: 5px;
  margin-top: 5px;
  width: 200px;
}
