.track-row {
  color: #ffffff;
  background: transparent;
  border-color: #708090;
}

.download {
  color: #ffffff;
  cursor: pointer;
  text-decoration: underline;
}

.play-now {
  padding-top: -30px;
}

.track-name {
  padding-top: 30px;
}

@media screen and (max-width: 1026px) { 
  #download { 
    display: none; 
  } 
}