.itemStyle {
  margin-bottom: '200px' !important;
  width: 100% !important;
  border-color: #708090 !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
  table-layout: fixed !important;
}

.itemButtons {
  float: right;
}

.itemText {
  width: 100% !important;
  max-width: 100% !important;
  float: left !important; 
  margin-top: 10px;
  overflow: hidden !important;
  white-space: nowrap !important;
  text-overflow: ellipsis !important;
}

.itemContainer {
  display: flex;
  justify-content: space-between;
  min-height: 50px;
  color: var(--font-color);
  background: var(--track-background-color);
  font-family: var(--list-font);
}

.itemLeft {
  
}

.collapseMenu {
  background: #1c1c1c;
  border-radius: 5px;
  display: flex;
  flex-flow: column;
  margin-top: 10px;
  padding: 10px;
  position: absolute;
  right: 0;
  top: 50px;
  z-index: 1;
  width: 100%;
  height: 500px;
}

.hamburger {
  color: white;
  display: none;
  margin: 7px;
}

.kebob {
  display: none;
}

.buttons {

}

@media (max-width: 1024px) {
  .itemLeft {
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    max-width: 330px;
  }

.buttons {
  display: none;
}

  .kebob {
    display: inline;
  }
}

.tooltip-container {
  display: inline-block;
  position: relative;
}

.tooltip {
  background-color: black;
  position: absolute;
  left: 0;
  top: 0; 
  width: 104dvw; 
  height: 400px;
  opacity: 0.7;
}