.centeredRow {
  color: var(--font-color);
  font-family: var(--button-font);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: 0;
  margin-left: 0;

  @media (max-width: 768px) {
    max-height: 130px;
  }
}

@media (max-width: 768px) {
  .centeredRow {

  }
}

.mobile {
  display: flex;
  flex-direction: column;
}

.desktop {
  display: none;
}

@media (min-width: 768px) {
  .mobile {
    display: none;
  }

  .desktop {
    display: inline;
  }
}

.buttonContainer {
  min-width: 100%;
  @media (max-width: 768px) {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 0px;
  }
}

.albumContainer {
  min-width: 100%;
  @media (max-width: 768px) {
    max-height: 160px;
  }
}

.container {
  max-width: 25%;
}