.centeredRow {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 100%;
  background-color: transparent;
  margin-right: 0;
  margin-left: 0;

  @media (max-width: 768px) {
    max-height: 130px;
  }
}

.buttonContainer {
  @media (max-width: 768px) {
    display: flex;
    align-items: start;
    justify-content: center;
    margin-top: 0px;
  }
}

.albumContainer {
  @media (max-width: 768px) {
    max-height: 160px;
  }
}