.skin-segment-configure-button {
  float: right !important;
  width: 100% !important;
}

.styleEditorContent {
  width: 100% !important;
}

.segmentRow {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
}