.sideBySideBody {
  align-items: center;
  display: flex;
  justify-content: left;
}

.sideBySideTitle {
  align-items: center;
  display: flex;
  font-size: 25px;
  justify-content: center; 
  margin-bottom: 10px;
}