.sideBySideOuterContainer {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.sideBySideItem {
  background: var(--button-background-color);
  color: var(--font-color);
  margin: 10px;
  padding: 20px;
  width: 160px;
}
