.addNewCard {
  background: transparent;
  min-height: 200px;
  height: 100%;
  border-color: black;
}

.addNewText {
  align-items: center;
  display: flex; 
  justify-content: center;
}

.addNewTitle {
  text-align: center;
}