.itemStyle {
  margin-bottom: '200px' !important;
  width: 100% !important;
  border-color: #708090 !important;
  white-space: nowrap !important;
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 2px !important;
  padding-bottom: 2px !important;
}

.itemButtons {
  float: right;
}

.itemText {
  float: left; 
  margin-top: 10px;
  overflow: hidden;
  white-space: nowrap;
}
