.animationRow {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
  margin-top: 300px !important;
}

.loadingContainer {
  height: 100% !important;
  min-height: 100% !important;
}

.loadingInProgress {
  background: transparent !important;
  min-height: 200px !important;
  height: 100% !important;
  border-color: black !important;
}

.textRow {
  align-items: center !important;
  display: flex !important;
  justify-content: center !important;
}
