.no-results-card {
  background: transparent !important;
  border-color: black !important;
  height: 100% !important;
  min-height: 200px !important;
}

.no-results-text {
  align-items: center;
  display: flex; 
  justify-content: center;
}

.no-results-title {
  text-align: center;
}