.no-results-card {
  background: transparent;
  min-height: 200px;
  height: 100%;
  border-color: black;
}

.no-results-text {
  align-items: center;
  display: flex; 
  justify-content: center;
}

.no-results-title {
  text-align: center;
}