.confirmCard {
  display: flex;
  flex-direction: column;
  background: transparent;
  border-color: black;
  height: 70vh;
  width: 95vw;
  min-height: 70vh;
  border: 1px solid var(--font-color);
  background-color: transparent;
  padding: 20px;
  margin-left: 10px;
  margin-right: 10px;
}

.confirmText {
  align-items: center;
  display: flex; 
  justify-content: center;
}

.confirmTitle {
  text-align: center;
}