.confirmCard {
  display: flex;
  flex-direction: column;
  background: transparent;
  border-color: black;
  height: 80vh;
  width: 90vw;
  min-height: 80vh;
  border: 1px solid var(--font-color);
  background-color: transparent;
}

.confirmText {
  align-items: center;
  display: flex; 
  justify-content: center;
}

.confirmTitle {
  text-align: center;
}