.trackCard {
  border-color: #708090 !important;
  color: var(--font-color) !important;
  background: var(--track-background-color) !important;
}

.trackContainer {
  margin-bottom: 0px !important;
  margin-right: 0px !important;
  margin-top: 0px !important;
  padding-left: 0px !important;
  width: 100%;
}

.trackName {
  overflow: hidden !important;
  text-overflow: ellipsis !important;
  white-space: nowrap;
  width: 100% !important;
  font-family: var(--list-font) !important;
  margin-top: 15px !important;
}

.trackRow {
  margin: 0 !important;
}
