.coverArtSearch {
  margin-top: 60px !important;
}

.coverArtSearchAlbumCover {
  width: 250px !important;
  max-width: 250px !important;
}

.coverArtSearchCenter {
  align-items: center;
  display: flex; 
  justify-content: center;
  background: transparent !important;
}
