.coverArtSearch {
  margin-top: 60px !important;
}

.coverArtSearchAlbumCover {
  width: 250px !important;
  max-width: 250px !important;
}

.coverArtSearchCenter {
  align-items: center;
  color: var(--font-color);
  display: flex; 
  justify-content: center;
  background: transparent !important;
}

.coverArtSearchContainer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}