.addNewCard {
  background: transparent;
  min-height: 200px;
  height: 100%;
  border-color: black;
  width: 100%;
}

.addNewFormLabel {
  margin-right: 10px;
}

.addNewText {
  align-items: center;
  display: flex; 
  justify-content: center;
}

.addNewTitle {
  text-align: center;
}

.contentContainer {
  display: flex;
  flex-flow: row;
  align-items: center;
  justify-content: center;
  width: 80%;
  margin-top: 30px;
}