:root {
  --background-color: red;
  --header-color: "linear-gradient(180deg, rgba(11, 66, 5, 1) 0%, rgba(12, 70, 5, 1) 100%)";
  --header-font: "Bebas Neue";
  --footer-color: "linear-gradient(180deg, rgba(11, 66, 5, 1) 0%, rgba(12, 70, 5, 1) 100%)";
  --font-color: #FFFFFF;
  --font-weight: normal;
  --background-color: #0b4205;
  --popup-background-color: #0b4205;
  --button-background-color: #0f5807;
  --active-button-color: #0f5807;
  --button-font: "Bebas Neue";
  --button-font-color: #FFFFFF;
  --button-font-weight: bold;
  --track-background-color: #0c4a06;
  --list-font: "Zen Dots";
}