body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

/* @import url('https://fonts.googleapis.com/css2?family=Allerta+Stencil&family=Antonio:wght@100&family=Audiowide&family=Big+Shoulders+Stencil+Text:wght@100&family=Black+Ops+One&family=Bungee+Shade&family=Cinzel+Decorative:wght@700&family=Coda+Caption:wght@800&family=Codystar:wght@300&family=Diplomata+SC&family=Ewert&family=Faster+One&family=Geo&family=Graduate&family=Gugi&family=Kelly+Slab&family=Major+Mono+Display&family=Megrim&family=Michroma&family=Nosifer&family=Nova+Flat&family=Racing+Sans+One&family=Rubik+Mono+One&family=Sarpanch&family=Spectral+SC:wght@200&family=Tourney:ital,wght@1,100&family=Trade+Winds&family=Train+One&family=Wallpoet&family=Zen+Dots&display=swap'); */