
.listContainer {
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}

.verticalAlbumContainer {
  margin-left: 0 !important;
  padding-left: 0 !important;
  padding-right: 0 !important;
}