.adminButton {
  margin-bottom: 0 !important;
  margin-top:  0 !important;
  padding: 0 !important;
  color: red !important;
}

.albumControlButton {
  margin-bottom: 0px !important;
  margin-top: 0px m !important;
}

.adminRow {
  padding: 0 !important;
}
