.albumCardBody {
  font-size: 12px !important;
  margin: 0 !important;
  overflow: hidden;
  padding: 0 !important;
  text-overflow: ellipsis !important;
  white-space: nowrap !important;
}

.albumCard {
  background: transparent !important;
  border-color: #708090 !important;
  color: white !important;
  margin: 5px !important;
  max-height: 300px !important;
  max-width: 200px !important;
  padding: 0 !important;
};

