.albumButton {
  padding: 0 !important;
}

.albumControlButton {
  margin-bottom: 0px !important;
  margin-top: 0px !important;
}

.buttonRow {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
  padding-bottom: 0 !important;
}
