.cover-art-search {
  margin-top: 60px !important;
}

.cover-art-search-album-cover {
  width: 250px !important;
  max-width: 250px !important;
}

.cover-art-search-center {
  align-items: center;
  display: flex; 
  justify-content: center;
  background: transparent !important;
}
