.trackAlbumCard {
  background: transparent !important;
  color: white !important;
  border-color: #708090 !important;
  margin: 0 !important;
  width: 40% !important;
  max-width: 40% !important;
};
